/* Basic Styles for the 3 Bars in the Icon */
.bar {
  height: 5px;
  width: 25px;
  background-color: black;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

/* Space Bars 1 and 3 away from each other. Middle Bar does NOT need to be moved */
#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

/*============
MENU ANIMATION
============*/

/*
1) The class 'toggleAnimate' is located in mobile-menu.js file (look in 'toggleClass()'' function)
2) When the 'burger-icon' is clicked, it toggles 'toggleAnimate' on/off
3) This will allow us to toggle certain animations on/off
*/

/* Animate bars 1 and 3 when menu icon is selected*/
.toggleAnimate #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.toggleAnimate #bar3 {
  transform: translateY(-6px) rotate(45deg);
}

/* Make bar 2 disappear when menu icon is selected */
.toggleAnimate #bar2 {
  opacity: 0;
}


/*============
MEDIA QUERY
============*/
/* When the screen size increases to 768px or above, the navigation menu will become visible */
@media (max-width: 768px) {
  .burger-menu {
    display: none;
  }
/* When the burger-icon is clicked, JavaScript adds the 'toggleCls' class.
  This causes the list items to display.
  When clicked a second time, it will remove the class and no longer display
  the list items. */
  .burger-menu.toggleCls {
    display: block;
  }

}

/* While screen size is below 769px, the burger icon remains visible. */
@media (min-width: 769px) {
  .burger-icon {
    display: none;
  }
}
