/*==============
MOBILE MENU ICON
==============*/

#menuBar {
  width: 35px;
  height: 30px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
}

/* Basic Styles for the 3 Bars in the Icon */
.bar {
  height: 5px;
  width: 100%;
  background-color: black;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

/* Space Bars 1 and 3 away from each other. Middle Bar does NOT need to be moved */
#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

/*============
MENU ANIMATION
============*/

/*
1) The class 'change' is located in mobileMenu.js
2) When the Mobile Menu is clicked, it toggles 'change' on/off
3) This will allow us to toggle certain animations on/off
*/

/* Change icon menu bars to white when selected */
.change .bar {
  background-color: white;
}

/* Animate bars 1 and 3 when menu icon is selected*/
.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar3 {
  transform: translateY(-6px) rotate(45deg);
}

/* Make bar 2 disappear when menu icon is selected */
.change #bar2 {
  opacity: 0;
}

/*========
MENU ITEMS
========*/

/* Basic styles for menu items */
.mainNav .menuItem {
  color: white;
  font-size: 1.4em;
  text-decoration: none;
  display: flex;
  padding: 20px 0;
}

/* Provide some space for the menu items */
.menuItem {
  margin-top: 12px;
}

.mainNav {
  padding: 0;
  margin: 0 20px;
  transition: 0.3s ease;
  display: none; /* Set to 'none' until Menu Icon is selected */
}

 /* When Menu Icon is selected, this allows the menu items to appear on screen. */
.change {
  display: block;
}

/*=============
MENU BACKGROUND
=============*/

.menuBackground, #menuBar {
  top: 0;
  left: 0;
  position: fixed; /* Fixes Mobile Menu/Icon at the top of the screen. Follows user. */
}

.menuBackground {
  z-index: 1;
  width: 0;
  height: 0;
  background: radial-gradient(circle, #000000, #414141);
  transition: 0.3s ease;
}

#menuBar {
  z-index: 2;
}

.changeBackground {
  width: 400px;
  height: 430px;
  transform: translate(-25%, -10%); /* Moves the background a bit to only show some curve to the menu */
}
