a {
  text-decoration: none;
}

body {
  display: grid;
  font-family: 'Quicksand', sans-serif;
  grid-template-rows: 100vh;
}

/*===========
HEADER STYLES
===========*/

header {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

.titleHome {
  margin-bottom: 0;
}

.subtitleHome {
  margin-top: 5px;
}

.myWorkBtn {
  background-color: white;
  border: solid black;
  color: black;
  margin-top: 75px;
  padding: 10px 32px;
  text-decoration: none;
  font-size: 1.5em;
  transition: ease 0.6s;
}

.myWorkBtn:hover {
  color: white;
  box-shadow: inset 200px 0 0 0 #4CAF50;
}

/*==================
SERVICES PAGE STYLES
==================*/

.servicesHeader {
  margin-bottom: 15px;
  text-align: center;
  font-size: 2.5em;
}

.divider {
  width: 50%;
  margin-top: 0;
  margin-bottom: 25px;
}

.servicesBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicesType {
  font-size: 1.5em;
}

.servicesTxt {
  padding: 0 10px 0 10px;
  font-weight: 30;
  font-size: 1.2em;
  line-height: 1.4em;
}

#servicesIcon {
  width: 50%;
}

/*===============
ABOUT PAGE STYLES
===============*/

#aboutBio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMeHeader {
  margin-bottom: 15px;
  text-align: center;
  font-size: 2.5em;
}

.profilePic {
  width: 75%;
  object-fit: contain;
}

.bioTxt {
  padding: 0 10px 0 10px;
  font-weight: 30;
  font-size: 1.2em;
  line-height: 1.4em;
}

/*===============
WORK PAGE STYLES
===============*/

#workPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#workPageHeader {
  margin-bottom: 15px;
  text-align: center;
  font-size: 2.5em;
}

.projectHeader {
  font-size: 1.5em;
}

/* Making Hexagons to hold project Logos */
.hexagon {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 200px;
  height: 115.6px;
  background: yellow;
  margin: 144px auto;
}

.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}

.hexagon::before {
  bottom: 100%;
  border-bottom: 72.17px solid yellow;
}

.hexagon::after {
  top: 100%;
  border-top: 72.17px solid yellow;
}

/* Project Website Logos */
.projectLogo {
  z-index: 1;
  position: absolute;
  width: 140px;
  height: 140px;
  object-fit: contain;
}

.projectTxt {
  padding: 0 10px 0 10px;
  font-weight: 30;
  font-size: 1.2em;
  line-height: 1.4em;
}
