a {
  text-decoration: none;
}

body {
  display: grid;
  font-family: 'Quicksand', sans-serif;
  grid-template-rows: 100vh;
  grid-auto-rows: minmax(10px, auto);
}

/*===========
HEADER STYLES
===========*/

header {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
}

.aboutHeaders { /* This applies to nearly all H2's throughout the site. */
  margin-bottom: 15px;
  text-align: center;
  font-size: 3.5em;
}

.titleHome {
  margin-bottom: 0;
}

.subtitleHome {
  margin-top: 5px;
}

.myWorkBtn {
  background-color: #4CAF50;
  border: solid black;
  color: white; /* On mobile, white by default. Change to #4CAF50/hover on laptop/desktop. */
  margin-top: 75px;
  padding: 10px 32px;
  text-decoration: none;
  font-size: 1.5em;
  transition: ease 0.6s;
}

.myWorkBtn:hover {
  color: white;
  box-shadow: inset 200px 0 0 0 #4CAF50;
}

#menuBanner {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 50px;
  background-image: linear-gradient(to bottom right, #000000, #414141);
}

/*==================
SERVICES PAGE STYLES
==================*/

.serviceIconHeadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.servicesHeader {
  margin-bottom: 15px;
  text-align: center;
  font-size: 2.5em;
}

.divider {
  width: 50%;
  margin-top: 0;
  margin-bottom: 25px;
}

.servicesBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconTxtContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicesType {
  font-size: 1.5em;
}

.servicesTxt {
  padding: 0 10px 0 10px;
  font-weight: 30;
  font-size: 1.2em;
  line-height: 1.4em;
}

#servicesIcon {
  width: 50%;
}

/*===============
ABOUT PAGE STYLES
===============*/

#aboutBio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMeHeader {
  margin-bottom: 15px;
  text-align: center;
  font-size: 2.5em;
}

.profilePic {
  width: 75%;
  object-fit: contain;
}

.bioTxt {
  padding: 0 10px 0 10px;
  font-weight: 30;
  font-size: 1.2em;
  line-height: 1.4em;
}

/*===============
WORK PAGE STYLES
===============*/

#workPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#workPageHeader {
  margin-bottom: 15px;
  text-align: center;
}

.projectHeader {
  font-size: 1.5em;
}

/* Making Hexagons to hold project Logos */
.hexagon {
  display: flex;
  align-items: center;
  position: relative;
  width: 200px;
  height: 115.6px;
  background: yellow;
  margin: 75px auto;
  transition: .3s;
}

.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}

.hexagon::before {
  bottom: 100%;
  border-bottom: 72.17px solid yellow;
}

.hexagon::after {
  top: 100%;
  border-top: 72.17px solid yellow;
}

.hexagon:hover {
  transform: scale(1.1);
}

/* Project Website Logos */
.gbmProjectLogo,
.viaProjectLogo {
  z-index: 1;
  position: absolute;
  width: 200px;
  object-fit: contain;
  filter: grayscale(100%);
}

.viaProjectLogo {
  width: 125px;
  margin-left: 38px;
}

.projectTxt {
  padding: 0 10px 0 10px;
  font-weight: 30;
  font-size: 1.2em;
  line-height: 1.4em;
}

/*==========
CONTACT PAGE
==========*/
#contactPageHeader {
  margin-bottom: 15px;
  text-align: center;
}

.contactInfo {
  padding: 0 10px 0 10px;
  font-weight: 30;
  font-size: 1.2em;
  line-height: 1.4em;
}

.fftPhoneNum, .fftEmail {
  font-size: 1.3em;
  font-weight: bolder;
}

/* Contact Form */

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

legend {
  font-size: 1.3em;
  font-weight: lighter;
}

label {
  font-size: 1.1em;
  margin-top: 15px;
}

#contactName,
#contactEmail,
#contactCompany {
  height: 25px;
}

#contactMessage {
  height: 60px;
}

#submitButton {
  background-color: #4CAF50;
  border: solid black 2px;
  margin-left: 14px;
  margin-bottom: 10px;
  color: white; /* On mobile, white by default. Change to #4CAF50/hover on laptop/desktop. */
  padding: 7px 25px;
  text-decoration: none;
  font-size: 1.5em;
  transition: ease 0.6s;
}

#submitButton:hover {
  color: white;
  box-shadow: inset 200px 0 0 0 #4CAF50;
}

@media only screen and (min-width: 640px) {

  body {
    grid-template-rows: auto;
  }

  header {
    margin-top: 50px;
  }

  #logo {
    width: 50%;
  }

  .myWorkBtn {
    margin-top: 0px;
  }

  #servicesIcon {
    width: 25%;
  }

  .aboutHeaders {
    font-size: 3em;
  }

  .divider {
    width: 25%;
  }

  /* About Services Page */

  .serviceIconHeadContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  #servicesIcon {
    width: 50%;
  }

  .iconTxtContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  /* About Bio Page */

  #aboutBio {
  }

  .bioTxt {
    padding: 0;
  }

  /* Contact Page */
  #contactPage {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Breaks Contact Description from Form. */
  }

}
